form {
    padding: 2%
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 48px;
    background-color: lightgrey;
}

.navbutton {
    float: left;
}

.navlink {
    color: black;
    display: block;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

.navlink:hover {
    color: black;
    background-color: yellow;
}

.currentnav{
    color: whitesmoke;
    display: block;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    background-color: darkred;
}

#profilelink {
    float: right;
    margin-right: 5px;
}

.banner {
    text-align: center;
    width: 100%;
    margin-top: 0%;
    padding-top: 7%;
    /*padding-bottom: 8%;*/
    background-color: aqua;
    margin-bottom: 0%;
}

.drop {
    position: relative;
    float: left;
}

.drop_button {
    cursor: pointer;
    color: black;
    display: block;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

.drop_content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(26, 26, 26, 0.616);
}

.drop_link {
    color: black;
    padding: 15px;
    text-decoration: none;
    display: block;
}

.drop_link:hover {
    background-color: crimson;
    color: whitesmoke;
}

.drop:hover .drop_content {
    display: block;
    background-color: whitesmoke;
}

.drop:hover .drop_button {
    background-color: yellow;
    color: black;
}

.acc_banner {
    text-align: center;
    background-color: whitesmoke;
    margin-top: 0%;
    overflow: hidden;
    padding: 2% 0 4% 0;
}

.banner_content {
    display: inline-block;
    width: 170px;
    padding: 0 2% 0 2%;
    margin-right: 2%;
    margin-left: 2%;
}

.log_button {
    padding: 5px 10px 5px 10px;
    background-color: coral;
    color: whitesmoke;
    display: block;
    text-decoration: none;
}

.log_button:hover {
    background-color: yellow;
    color: black;
}

.error {
    color: firebrick;
    margin-left: 2%;
}

.wrong_page {
    margin-left: 2%;
    margin-top: 40px;
    width: fit-content;
    padding: 1px 20px 15px 20px;
    background-color: whitesmoke;
    text-align: center;
    color: black;
}

.quiznav {
    right: 2%;
    top: 150px;
    background-color: royalblue;
    color: whitesmoke;
    margin-top: 5%;
    padding: 3px 10px 12px 10px;
    position: absolute;
}

.page_link {
    display: inline-block;
    text-align: center;
    padding: 7px;
    border-radius: 4px;
}

.page_link:hover {
    text-decoration: underline;
    background-color: yellow;
    color: magenta;
}

.page_list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.grey {
    width: 100%;
    height: 100%;
    z-index: 9997;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(168, 168, 168, 0.438);
}

.errorbox {
    position: absolute;
    background-color: whitesmoke;
    border: 2px solid darkgray;
    z-index: 9998;
}

.errorbutton {
    float: left;
    z-index: 9999;
}

.errormsg {
    color: darkred;
}

.modcard {
    background-color: whitesmoke;
    border: 1px solid black;
    padding: 0px;
    width: 100%;
    border-radius: 5px;
}

.modlink {
    border: none;
    background-color: whitesmoke;
    width: 100%;
    padding: 2% 0 3% 0;
    font-weight: bold;
}

.modlink_a {
    border: none;
    background-color: whitesmoke;
    width: 100%;
    padding: 2% 0 3% 0;
    font-weight: bold;
    font-size: medium;
}

.modcard:hover {
    filter: brightness(92%);
}

.card_container {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 5%;
    row-gap: 10%;
    padding: 2% 7% 2% 7%;
}

.hslabel {
    width: 100%;
    display: block;
    text-align: center;
    padding-bottom: 4%;
}