{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

{% block title %}Informative title - attempted modules{% endblock %}

{% block heading %}Attempted Modules{% endblock %}

{% block modules %}class="currentnav"{% endblock %}

{% block content %}
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h3>In progress</h3>
        {% if c_len > 0:%}
            <div class="card_container">
                {% for mod in c_atmpt: %}
                    <form action="/quiz" method="post" class="modcard">
                        <input type="hidden" name="act" value="{{ mod }}">
                        <input type="image" src="{{ modcard_info[mod][0] }}" alt="{{ modcard_info[mod][1] }}" width="100%" height="auto">
                        <br>
                        <input type="submit" value="{{ mod }}" class="modlink" class="modlink_a">
                    </form>
                {% endfor %}
            </div>
        {% else: %}
            <div>
                <p>
                    You have no modules currently in progress. Click <a href="{{ url_for('modules') }}">here</a> 
                    to begin one.
                </p>
            </div>
        {% endif %}
        <h3>Completed</h3>
        {% if completeq_len > 0 or completem_len > 0: %}
            <h4>Modules</h4>
            {% if completem_len > 0: %}
                <div class="card_container">
                    {% for mod in completem: %}
                        <form action="/quiz" method="post" class="modcard">
                            <input type="hidden" name="act" value="{{ mod }}">
                            <input type="image" src="{{ modcard_info[mod][0] }}" alt="{{ modcard_info[mod][1] }}" width="100%" height="auto">
                            <br>
                            <input type="submit" value="{{ mod }}" class="modlink" class="modlink_a">
                        </form>
                    {% endfor %}
                </div>
            {% else: %}
                <div>
                    <p>You have no completed modules</p>
                </div>
            {% endif %}
            <h4>Quizzes</h4>
            {% if completeq_len > 0: %}
                <div class="card_container">
                    {% for mod in completeq: %}
                    <form action="/quiz" method="post" class="modcard">
                        <input type="hidden" name="act" value="{{ mod }}">
                        <input type="image" src="{{ modcard_info[mod][0] }}" alt="{{ modcard_info[mod][1] }}" width="100%" height="auto">
                        <br>
                        <input type="submit" value="{{ mod }}" class="modlink" class="modlink_a">
                    </form>
                    {% endfor %}
                </div>
            {% else: %}
                <div>
                    <p>You have no completed quizzes</p>
                </div>
            {% endif %}
        {% else: %}
            <div>
                <p>You have no completed modules or quizzes</p>
            </div>
        {% endif %}
    </body>
{% endblock %}
</html>