<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Informative Title{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <ul class="navbar">
            <li class="navbutton">
                <a {% block home %}class="navlink"{% endblock %} href="{{ url_for('home') }}">Home</a>
            </li>
            <li class="navbutton" class="drop">
                <button {% block modules %}class="navlink"{% endblock %} class="drop_button">Modules</button>
                <div class="drop_content">
                    <a class="drop_link" href="{{ url_for('modules') }}">All Modules</a>
                    <a class="drop_link" href="{{ url_for('attempted') }}">Attempted Modules</a>
                </div>
            </li>
            <li class="navbutton" id="profilelink">
                <a {% block profile %}class="navlink"{% endblock %} href="{{ url_for('profile') }}">My Profile</a>
            </li>
        </ul>
        <h1 class="banner">{% block heading %}Title{% endblock %}</h1>
        {% block content %}

        {% endblock %}
    </body>
</html>