{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

{% block title %}Informative title{% endblock %}

{% block heading %}Home{% endblock %}

{% block home %}class="currentnav"{% endblock %}

{%block pagename%}index.html{% endblock %}

{% block content %}
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <p class="txt">
            Some writing. Wow isn't this such great, inspiring writing? Truly 
            beautiful isn't it?<br>
            So beatiful that I almost feel the need to break into song.<br>
             But I won't because the room I'm in as I write this has people in it, and 
            I'm kind like that.
        </p>
        <h2>Recomended Modules</h2>
    </body>
{% endblock %}
</html>