{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

{% block title %}Informative title - log in{% endblock %}

{% block heading %}Log in{% endblock %}

{% block log %}class="currentnav"{% endblock %}

{% block content %}
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <form action="/log" method="POST" class="login">
            <label for="log_user">Username:</label>
            <input type="text" name="log_user" id="log_user" placeholder="username"><br>
            <label for="log_pass">Password:</label>
            <input type="text" name="log_pass" id="log_pass" placeholder="password"><br>
            <input type="submit" value="Log in">
        </form>
        <div class="error">
            {{ error_statement }}
        </div>
        <div class="wrong_page">
            <h4>Don't have an account yet?</h4>
            <a class="log_button" href="{{ url_for('signup') }}">Sign up here</a>
        </div>
    </body>
{% endblock %}
</html>