{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

{% block title %}Informative title - all modules{% endblock %}

{% block heading %}Modules{% endblock %}

{% block modules %}class="currentnav"{% endblock %}

{% block content %}
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h3>All Modules</h3>
        <h3>Quizzes</h3>
        <form action="/quiz" method="post">
            <input type="hidden" name="act" value="Quiz - Rips">
            <input type="submit" value="rips">
        </form>
    </body>
{% endblock %}
</html>