{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

{% block title %}Informative title - all modules{% endblock %}

{% block heading %}Modules{% endblock %}

{% block modules %}class="currentnav"{% endblock %}

{% block content %}
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h3>Modules</h3>
        <a href="{{ url_for('quiz') }}">rips</a>
        <h3>Quizzes</h3>
    </body>
{% endblock %}
</html>