{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

{% block title %}Informative title - profile{% endblock %}

{% block heading %}Profile{% endblock %}

{% block profile %}class="currentnav"{% endblock %}

{%block pagename%}index.html{% endblock %}

{% block content %}
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h2>Welcome, {{username}}</h2>
        <form action="/logout" method="POST">
            <input type="hidden" name="page" value="index.html">
            <input type="submit" value="Log out">
        </form>
    </body>
{% endblock %}
</html>