<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Informative Title{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <ul class="navbar">
            <li class="navbutton">
                <a {% block home %}class="navlink"{% endblock %} href="{{ url_for('home') }}">Home</a>
            </li>
            <li class="drop" class="navbutton">
                <a class="drop_button" {% block modules %}class="navlink"{% endblock %}>Modules</a>
                <div class="drop_content">
                    <a class="drop_link" href="{{ url_for('modules') }}">All Modules</a>
                    <a class="drop_link" href="{{ url_for('attempted') }}">Attempted Modules</a>
                </div>
            </li>
                {% if signin == "yes": %}
                    <li class="navbutton" id="profilelink">
                        <a {% block profile %}class="navlink"{% endblock %} href="{{ url_for('profile') }}">My Profile</a>
                    </li>
                {% else: %}
                    <li class="drop" id="profilelink">
                        <a class="drop_button" {% block log %}class="navlink"{% endblock %}>Log in / Sign up</a>
                        <div class="drop_content">
                            <a class="drop_link" href="{{ url_for('login') }}">Log in</a>
                            <a class="drop_link" href="{{ url_for('signup') }}">Sign up</a>
                        </div>
                    </li>
                {% endif %}
        </ul>
        
        <h1>{{ module }}</h1>
        {% if tp == "quiz" %}
            <h2>{{ questions[no] }}</h2>
            <form action="/quizpage" method="post">
                {% if var_list[0]=="text": %}
                    <input type="text" name="u_ans" value="{{ q_ans }}" {{ q_lock }}><br>
                {% elif var_list[0]=="radio" or var_list[0]=="checkbox": %}
                    {% for optn in opt: %}
                        <input type="{{var_list[0]}}" name="u_ans" value="{{optn}}" {{ checked[optn] }} {{ q_lock }}>
                        <label for="{{optn}}">{{ optn }}</label><br>
                    {% endfor %}
                {% endif %}
                <input type="hidden" id="q_type" name="q_type" value="{{var_list[0]}}">
                <input type="hidden" id="q_num" name="q_num" value="{{num}}">
                <input type="hidden" id="act_type" name="act_type" value="submit">
                <input type="submit" value="submit" {{ q_lock }}>
            </form>
            {% if msg: %}
                <p class="{{msgtype}}">{{ msg }}</p>
            {% endif %}
        {% else: %}
            <h2>Section / page heading</h2>
        {% endif %}

        <div class="quiznav">
            <p>Quiz Navigation</p>
            <ul class="page_list">
                {% for number in range(quesnum): %}
                <li>
                    <form action="/quizpage" method="post">
                        <input type="hidden" name="q_num" value={{number-1}}>
                        <input type="hidden" name="act_type" value="next">
                        <input type="submit" class="page_link" value={{number+1}}>
                    </form>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% if error_message: %}
            <div class="grey">
                <div class="errorbox">
                    <p>{{ error_message }}</p>
                    <form action="/endquiz" method="post" class="errorbutton">
                        <input type="hidden" id="q_num" name="q_num" value={{num}}>
                        <input type="submit" value="Finish Attempt">
                    </form>
                    <form action="/quizpage" method="post" class="errorbutton">
                        <input type="hidden" id="q_num" name="q_num" value={{num}}>
                        <input type="hidden" id="act_type" name="act_type" value="continue">
                        <input type="submit" value="Cancel">
                    </form>
                </div>
            </div>
        {% else: %}
            {% if (no+1) != quesnum: %}
                <form action="/quizpage" method="post">
                    <input type="hidden" id="q_num" name="q_num" value={{num}}>
                    <input type="hidden" id="act_type" name="act_type" value="next">
                    <input type="submit" value="Next Page">
                </form>
            {% else: %}
                <form action="/quizpage" method="post">
                    <input type="hidden" id="q_num" name="q_num" value={{num}}>
                    <input type="hidden" id="act_type" name="act_type" value="check">
                    <input type="submit" value="Finish Quiz">
                </form>
            {% endif %}
        {% endif %}

        <form action="/exit" method="post">
            <input type="hidden" name="q_num" value="{{num}}">
            <input type="submit" value="Save and Exit">
        </form>
    </body>
</html>