<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Informative Title{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <ul class="navbar">
            <li class="navbutton">
                <a {% block home %}class="navlink"{% endblock %} href="{{ url_for('home') }}">Home</a>
            </li>
            <li class="drop" class="navbutton">
                <a class="drop_button" {% block modules %}class="navlink"{% endblock %}>Modules</a>
                <div class="drop_content">
                    <a class="drop_link" href="{{ url_for('modules') }}">All Modules</a>
                    <a class="drop_link" href="{{ url_for('attempted') }}">Attempted Modules</a>
                </div>
            </li>
                {% if signin == "yes": %}
                    <li class="navbutton" id="profilelink">
                        <a {% block profile %}class="navlink"{% endblock %} href="{{ url_for('profile') }}">My Profile</a>
                    </li>
                {% else: %}
                    <li class="drop" id="profilelink">
                        <a class="drop_button" {% block log %}class="navlink"{% endblock %}>Log in / Sign up</a>
                        <div class="drop_content">
                            <a class="drop_link" href="{{ url_for('login') }}">Log in</a>
                            <a class="drop_link" href="{{ url_for('signup') }}">Sign up</a>
                        </div>
                    </li>
                {% endif %}
        </ul>
        {% block content %}

        {% endblock %}
        <div class="quiznav">
            <p>Quiz Navigation</p>
            <ul class="page_list">
                <li>
                    <a class="page_link">1</a>
                </li>
                <li>
                    <a class="page_link">2</a>
                </li>
            </ul>
        </div>
        <div>
            <button>Submit</button>
            <a>Next Page</a>
        </div>
    </body>
</html>