{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

{% block title %}Informative title - sign up{% endblock %}

{% block heading %}Sign up{% endblock %}

{% block log %}class="currentnav"{% endblock %}

{% block content %}
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <form action="/sign" method="POST" class="signup">
            <label for="sign_user">Username:</label>
            <input type="text" name="sign_user" id="sign_user" placeholder="username"><br>
            <label for="sign_pass">Password:</label>
            <input type="text" name="sign_pass" id="sign_pass" placeholder="password"><br>
            <input type="submit" value="Sign up">
        </form>
        <div class="error">
            {{ error_statement }}
        </div>
        <div class="wrong_page">
            <h4>Already have an account?</h4>
            <a class="log_button" href="{{ url_for('login') }}">Log in here</a>
        </div>
    </body>
{% endblock %}
</html>